<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
    <add name="Server"
		 providerName="System.Data.ProviderName"
		 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=restDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" />
	</connectionStrings>
</configuration>