<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
    <add name="Server"
		 providerName="System.Data.ProviderName"
		 connectionString="Data Source=elbrus.liara.cloud,32970;Initial Catalog=myDB;User Id=sa;Password=r6at7itfz2dU8apysewdh6uv;Encrypt=False" />
	</connectionStrings>
</configuration>